<!DOCTYPE html>
<html>
  <head>
    <title>QrSms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	  <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="title">
		    <h1>Welcome to MARTA Connect</h1>
	  </div>

	  <div class="instructions">
		    <p>Input your phone number for up to date directions and more...lorem ipsum dolor...
	  </div>
    <%= yield %>

    <div class="service-container">
      <h2>Service Alerts</h2>
      <span> No service advisories at this time</span>
    </div>


    <div class="footer">
      For more information, visit <a href="http://www.itsmarta.com">www.itsmarta.com</a>
      <p>
          Some legal copy here
      <p>
      <%= image_tag 'brand.png' %>

    </div>
  </body>
</html>
